/*font-family: 'Playfair Display', serif;*/
*{
	margin: 0;
	padding: 0;
}
.header-part{

width: 90%;

margin: auto;

display: flex;

justify-content: space-between;

align-items: center;

padding: 15px 0;
}
.logo{

width: 20%;
}
.logo img{

}
nav{

width: 50%;
}
nav ul{

list-style: none;

display: flex;

justify-content: space-between;

align-items: center;
}
nav ul li{

}
nav ul li a{
	
text-decoration: none;
	
color: #626262;
	
font-size: 14px;
	
text-transform: uppercase;
font-family: 'Playfair Display', serif;
}
.banner-part{

width: 90%;

margin: auto;

padding: 25px 0;
}
.banner-part img{
	
width: 100%;
}
.Photodairy{

padding: 50px 0;

width: 80%;

margin: auto;
}
.Photodairy h5{

margin-bottom: 20px;

text-transform: uppercase;

font-size: 14px;

color: #b4ad9e;
}
.Photodairy h1{
text-transform: inherit;
font-size: 30px;
color: #626262;
font-family: 'Playfair Display', serif;
}
.Photodairy p{
	
font-size: 14px;
	
color: #626262;
	
margin: 25px 0;
font-family: 'Playfair Display', serif;
}
.content{

display: flex;

justify-content: space-between;

flex-wrap: wrap;
}
.Lifestyle1{

width: 48%;

margin-top: 50px;
}
.Lifestyle1 img{

}
.Lifestyle1 h5{

margin-top: 15px;
}
.Lifestyle1 p{
	
margin: 15px 0;
}
.signup{

background: #f0f0f0;

padding: 100px;
}
.input{

width: 39%;

margin: auto;

text-align: center;

position: relative;
}
.input h1{

color: #333333;

font-size: 34px;

font-weight: 500;

margin-bottom: 70px;

text-transform: inherit;
font-family: 'Playfair Display', serif;
}
.input input{
	
border: none;
	
background: transparent;
	
border-bottom: 1px solid black;
padding: 0px 3px;
	
width: 100%;
}
.input input::placeholder{
	font-size: 16px;
	text-transform: inherit;
    font-family: 'Playfair Display', serif;
    color: #333333;

}
.input input:focus{
	outline: none;
}
.icon{

position: absolute;

right: 0%;

bottom: 0%;

transform: translate(0%, 0%);
}
.icon img{
	
}
.loadmore{

height: 200px;

/* text-align: center; */

display: flex;

justify-content: center;

align-items: center;
}
.loadmore button{
	
padding: 20px;
	
background: transparent;
	
border: none;
	
border-top: 1px solid #8e8383;
	
border-left: 1px solid #8e8383;
	
font-size: 20px;
font-family: 'Playfair Display', serif;
}
footer{

background: #f0f0f0;

height: 80px;

display: flex;

align-items: center;
}
.footer{

width: 80%;

margin: auto;

display: flex;

justify-content: space-between;
}
.footer-left{

width: 22%;
}
.footer-left ul{

list-style: none;

/* text-decoration: none; */

display: flex;

justify-content: space-between;
}

.footer-left ul li{

}
.footer-left ul li a{

text-decoration: none;

color: #000000;

text-transform: capitalize;
}
.footer-right{

width: 16%;
}
.footer-right ul{

list-style: none;

display: flex;

justify-content: space-between;
}
.footer-right ul li{

color: #000000;

font-size: 16px;
}
.footer-right ul li a{
color: #000000;
}